# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular Data Science languages
- List Commonly used libraries
- List examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Apache Spark|
|Jupyter Notebook|
|Julia|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [15]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [25]:
#This will convert 200 minutes to hours by diving by 60
converted = 200/60
print("200 minutes is", converted, "hours")

200 minutes is 3.3333333333333335 hours

## Author
Mateusz